<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/admin.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/7f3e3fddff.js" crossorigin="anonymous"></script>
  <script src="/script.js"></script>
</head>

<body>
  <nav>
    <div class="wpr">
      <div class="logo">
        <a href="/">
          <i class="fa-solid fa-droplet"></i>
          Blood Bank
        </a>
      </div>
    </div>
  </nav>
  <div class="aaa-wpr">
    <div id="n2" class="n2">
      <ul>
        <li>
          <a href="/admindashboard">
            Blood Stock
          </a>
        </li>
        <li>
          <a href="/admindonordetail">
            Donor
          </a>
        </li>
        <li>
          <a href="adminpatientdetail">
            Patient
          </a>
        </li>
        <li>
          <a class="button-77" href="logout">
            Logout
          </a>
        </li>
      </ul>
    </div>
    <div class="t-card">
      <h1 class="h1">Donor Details</h1>
      <div class="ww w1">
        <span class="cc"> Name</span>
        <span class="cc ss"> Age</span>
        <span class="cc ss"> Gender</span>
        <span class="cc ss"> Blood group</span>
        <span class="cc"> Phone number</span>
        <span class="cc mm"> Email</span>
      </div>
      <% results.forEach((result)=>{ %>
        <div class="ww">
          <span class="dd">
            <%= result.name %>
          </span>
          <span class="dd ss">
            <%= result.age %>
          </span>
          <span class="dd ss ">
            <%= result.gender %>
          </span>
          <span class="dd ss">
            <%= result.blood_group %>
          </span>
          <span class="dd ">
            <%= result.phone_number %>
          </span>
          <span class="dd mm">
            <%= result.email %>
          </span>
        </div>
        <% }); %>
    </div>
  </div>
  <footer>
    <p>Copyright &copy; 2023 <br> Blood Bank Management System.<br>
      All rights reserved.</p>
  </footer>
</body>

</html>
